.like-component {
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row: 4;
  grid-column: 1/2;
  margin-left: 10px;
  align-content: center;
}
.likes {
    position: relative;

  grid-row: 1;
  grid-column: 1/3;
  align-content: center;
  text-align: center;
}

.like {
    position: relative;

  grid-column: 1;
  grid-row: 2;
  background-color: rgb(25, 220, 28);
}

