.nav-bar{
  background-color: rgba(194, 194, 234, 0.449);
  grid-column: 1;
  grid-row: 2/11;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2%;
}

.nav-bar >a{
  margin-top: 15%;
    width: 75px;
  height: 30px;
  text-align: center;
  align-items: center;
  justify-items:center;
  background-color: rgb(210, 204, 249);
  border: 2px solid black;
  border-radius: 15px;
      text-decoration:none;


}

.go-back{
  margin-top: 15%;
  width: 75px;
  height: 30px;
  text-align: center;
  align-items: center;
  justify-items:center;
  background-color: rgb(210, 204, 249);
  border: 2px solid black;
  border-radius: 15px;
  
}