.post-component {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-self: center;
  background-color: rgb(228, 243, 243);
  width: 50em;
  height: 60em;
  justify-items: center;
  padding: 1%;
  border: 1px solid rgb(195, 201, 207);
}

.post-img {
  position: relative;
  width: 100%;
  height: 100%;
  grid-column: 1/4;
  grid-row: 1/2;
}

.post-description {
    position: relative;

  align-content: center;
  text-align: center;
  grid-column: 2/4;
  height: 3em;
  grid-row: 2/3;
  background-color: rgb(195, 201, 207);
  width: 10em;
}
.post-date-time {
    position: relative;

  align-content: center;
  text-align: center;
  background-color: rgb(195, 201, 207);
  grid-column: 1;
  grid-row: 2/3;
  width: 5em;
  height: 3em;
}

.post-username {
    position: relative;

  align-content: center;
  width: 100%;
  text-align: center;
  grid-row: 4;
  grid-column: 2/4;
  justify-self: right;
  /* margin-right: 10px; */
}
